<%- include("includes/head.ejs") %>

<body>
    <h1>Templating or ejs</h1>
    <h1>Hello 1 + 2 = </h1>
    <h2><%= 1+2 %></h2>
    <h2><%= "Kunal".toUpperCase() %></h2>
    <h2><%= ["ab" , "cd"][0] %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae quidem at, veritatis accusantium qui! Earum, a veritatis nam asperiores, vitae similique optio ducimus molestias obcaecati voluptas nostrum vel nisi!</p>
</body>
</html>