<%- include("includes/head.ejs") %>

<body>
    <h1>Dice game Value : 
        <%= num %>
    </h1>

    
    <h1>IF Else : 
        <% if(num == 4) { %>
            <h2>Nice Roll Again</h2>
        <% } %>
    </h1>
</body>
</html>