<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your about Join us</h1>
    <form action="/user/newuser" method="POST">
        <input type="text" name="id"  placeholder="ur id">
        <input type="text" name="username"  placeholder="ur username">
        <input type="email" name="email"  placeholder="ur email">
        <input type="password" name="password"  placeholder="password">
        <button>Submit</button>
    </form>
</body>
</html>